spring:
  application:
    name: send-email-confirmation
  cloud:
    function:
      definition: sendEmailConfirmation
send-email-confirmation:
  email:
    sender: Gareth Yoder <gyoder@cedarmeadowmeats.com>
    no-reply-sender: noReply <noReply@cedarmeadowmeats.com>
    admin-emails: >
      Gareth Yoder <gyoder@cedarmeadowmeats.com>,
      Joy Yoder <jyoder@cedarmeadowmeats.com>
    confirmationToClientEmail: templates/email/confirmationEmail/confirmationToClientEmail.html
  dj-email:
    sender: noReply <noReply@gyoderaudioexpressions.com>
    no-reply-sender: noReply <noReply@gyoderaudioexpressions.com>
    admin-emails: Gareth Yoder <garethyoder@yahoo.com>
---
spring:
  config:
    activate:
      on-profile: tc
---
spring:
  config:
    activate:
      on-profile: local
  main:
    web-application-type: servlet
